.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    background-color: inherit;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
}

.tag-blue {
    background-color: #007BFF;
}

.tag-green {
    background-color: #28A745;
}

.tag-orange {
    background-color: #FD7E14;
}

.tag-pink {
    background-color: #E83E8C;
}

.tag-yellow {
    background-color: #FFC107;
}

.tag-purple {
    background-color: #6F42C1;
}

.tag-teal {
    background-color: #20C997;
}

.tag-red {
    background-color: #DC3545;
}