.announcement-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #faf3f2;
    text-align: center;
}

.announcement-bar h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .announcement-bar h4 {
        font-size: 14px;
    }
}