.footer {
    border-top: 1px solid hsla(0, 0%, 100%, .3);
    background-color: #121212;
    color: #fff;
    padding: 10px 100px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    margin: 10px;
}

.footer-column h4 {
    font-size: 0.9em;
    color: #999;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ccc;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 0.8em;
    color: #666;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ccc;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #bbb;
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer-column {
        flex: 1 1 45%;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-columns {
        flex-direction: column;
        flex: 1 1 100%;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-column h4 {
        font-size: 1em;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .social-media {
        margin-top: 20px;
    }

    .social-media a {
        font-size: 1.5em;
    }

    .footer .copyright {
        font-size: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px 20px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
        flex: 1 1 100%;
    }

    .footer-column {
        margin-bottom: 15px;
        text-align: center;
    }

    .footer-column h4 {
        font-size: 1.1em;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .social-media {
        justify-content: center;
        margin-top: 15px;
    }

    .social-media a {
        font-size: 1.3em;
    }

    .footer .copyright {
        font-size: 10px;
        margin-top: 15px;
    }
}