.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;

    &__logo {
        overflow: hidden;
        width: 250px;
        margin-right: 20px;
    }

    &__nav {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                position: relative;

                a {
                    text-decoration: none;
                    color: rgb(70, 70, 70);
                    font-weight: normal;
                    font-size: 18px;
                    transition: color 0.3s;

                    &:hover {
                        color: #000000;
                    }
                }

                .header__new {
                    position: absolute;
                    top: -10px;
                    right: -20px;
                    background-color: #ff0000;
                    color: #fff;
                    font-size: 10px;
                    font-weight: bold;
                    padding: 2px 6px;
                    border-radius: 5px;
                    text-transform: uppercase;
                }
            }
        }
    }
}